<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Clock</title>
</head>
<body>
    <h1>World Clock</h1>
    <form>
        <label for="locations">Select up to 4 locations:</label>
        <select id="locations" name="locations" multiple size="4">
            {% for location, time in times.items() %}
                <option>{{ location }} - {{ time.strftime('%H:%M:%S %p') }}</option>
            {% endfor %}
        </select>
    </form>
</body>
</html>
